.img_movie{
    width: 100%;
}
.top{
    background: #02a441;
    width: 30px;
    min-height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    z-index: 0;

}
.movie_block{
    width: 18%;
    cursor: pointer;

}
.movie_title{
    margin-top: 2px;
    margin-bottom: 5px;
}
.movie_block:hover {
    -webkit-transform: scale(102%);
    -ms-transform: scale(102%);
    transform: scale(102%);
    transition: transform .3s;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}